{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="https://e7.pngegg.com/pngimages/726/169/png-clipart-australian-broadcasting-corporation-abc-logo-television-c-television-text.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Naarad
        </a>
    </div>
</nav>
{% endblock navbar %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header bg-grey text-white text-center">
                    <h3  >Login</h3>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            {% if form.username.errors %}
                                <div class="text-danger small">{{ form.username.errors|first }}</div>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            {% if form.password.errors %}
                                <div class="text-danger small">{{ form.password.errors|first }}</div>
                            {% endif %}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-light btn-block">Login</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <small>Don't have an account? <a href="{% url 'register' %}" class="text-primary">Register here</a>.</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
